{% extends 'base.html' %}


{% block custom_head %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- DataTables CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<style>
   #example_filter input{
    padding: 4px;
    border: 1px solid rgb(212, 255, 249);

   }

</style>

{% endblock custom_head %}


{% block content %}
{% include 'includes/send_money_modal.html' %}

<div class="container mx-auto mt-10 grid grid-cols-6 gap-4">
    <div class="col-span-1">

    </div>
    <div>
        <!-- Button for transferring money -->
        <button class="bg-blue-500 text-white px-4 py-2 rounded" onclick="openModal()">Send Money</button>
    </div>
    <div class="col-span-4">
        <table id="example" class="min-w-full divide-y divide-gray-200 bg-white shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Account ID
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Account Name
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for account in accounts %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        {{ account.id }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {{ account.name }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {{ account.balance }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<script>
    $(document).ready(function() {
        $('#example').DataTable({
            "pagingType": "full_numbers"
        });
    });
    </script>
{% endblock %}